<section class="project" :class="`project-${idx}`">

    <transition name="fade">
        <router-view></router-view>
    </transition>

    <div class="project-wrapper" :class="{ showObjects }">

        <router-link v-for="(menuObject, idx) in menuObjects"
                    :key="idx"
                    :to="`/project/${alias}/gallery/${idx}`"
                    :class="`obectItem-${idx}`"
                    class="objectItem"
                    tag="img"
                    :src="`/static/projects/${alias}/objects/${idx}.gif`">

            <!-- <img :src="`/static/projects/${alias}/objects/${idx}.gif`" class="objectItem" :class="`objectItem${idx}`"/> -->

        </router-link>

    </div>

</section>