<section class="project">

    <!-- <transition name="fade"></transition> -->
        <router-view></router-view>
    <!-- </transition> -->

    <!-- <transition name="objectApear"> -->
            <router-link v-for="(menuObject, idx) in menuObjects"
                        :key="idx"
                        :to="`/project/${alias}/gallery/${idx}`"
                        class="menuObject">

                <img :src="`/static/projects/${alias}/objects/${idx}.gif`" />

            </router-link>
    <!-- </transition> -->

</section>