.front {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: url('/static/img/front-bg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;

    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}