.front {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('/static/img/front-bg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}