// Lists

.clean-list {
    list-style: none;
}

.link-list {
    .link-list-item {
        cursor: pointer;
    }
}

.full-height {
    height: 100%;
}

// Flex

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}