.modal-bg {
    background: rgba(0, 0, 0, 0.7);
    position :fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
        width: 70%;
        max-height: 50%;
        background: #616771;
        color: #fff;
        padding: 10px 50px;
        overflow-y: scroll;
        border-radius: 5px;
    }
}