.modal-bg {
    background: rgba(0, 0, 0, 0.3);
    position :fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;
    .modal {
        position: relative;
        &.text {
            width: 70%;
            height: 70%;
            background: #fff;
            color: #272422;
            
            .text-wrapper {
                height: 100%;
                overflow-y: auto;
                border-bottom: 30px solid #fff;
                border-top: 30px solid #fff;
                padding: 0 90px 0 25px;
            }

            p {
                text-align: justify;
            }
            
            &.hebrew {
                direction: rtl;
                .text-wrapper {
                    padding: 0 25px 0 90px;
                }
                .lang-switcher {
                    right: auto;
                    left: 0;
                }
            }

            .lang-switcher {
                position: absolute;
                margin: 25px 15px;
                right: 0px;
                font-size: 15px;
                text-transform: uppercase;
            }
        }
    }
}