.modal-bg {
    background: rgba(0, 0, 0, 0.3);
    position :fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;
    .modal {
        &.text {
            width: 70%;
            max-height: 70%;
            background: #fff;
            padding: 10px 90px 10px 25px;
            color: #272422;
            overflow-y: scroll;
            border-bottom: 20px solid #fff;
            border-top: 20px solid #fff;
            p {
                text-align: justify;
            }
        }
    }
}