.project {
    height: 100%;
    width: 100%;
    position: fixed;
}

.project-wrapper {

    // display: flex;
    // align-items: center;
    height: 100%;

    .menuObject {
        display: block;
        position: absolute;
        flex: 1;
        text-align: center;
    }


    
    &.showObjects {
        .objectItem {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    .objectItem {
        transition: all 3s ease-out;
        transform: translate(0, -$toggleUp);
        opacity: 0;
        width: 25%;
        max-width: 365px;
        position: absolute;
        cursor: pointer;

        // &:hover {
        //     -webkit-animation: rotating 22s linear infinite;
        //     -moz-animation: rotating 22s linear infinite;
        //     -ms-animation: rotating 22s linear infinite;
        //     -o-animation: rotating 22s linear infinite;
        //     animation: rotating 22s linear infinite;            
        // }

        .project-0 & {
            &.obectItem-0 {      
                width: 25%;
                left: 21%;
                top: 9%; 
            }
            &.obectItem-1 {      
                width: 26%;
                left: 1%;
                top: 43%; 
            }
            &.obectItem-2 {      
                width: 31%;
                left: 69%;
                bottom: 8%; 
            }
        }

        .project-1 & {
            &.obectItem-0 {      
                width: 28%;
                left: 29%;
                bottom: 31%; 
            }
            &.obectItem-1 {      
                width: 23%;
                left: 6%;
                bottom: 12%;
                max-width: 235px;
            }
            &.obectItem-2 {      
                width: 34%;
                left: 9%;
                top: 8%;
            }
        }

        .project-2 & {
            &.obectItem-0 {      
                width: 28%;
                right: 24%;
                bottom: 49%;
            }
            &.obectItem-1 {      
                width: 15%;
                right: 6%;
                bottom: 9%;
            }
            &.obectItem-2 {      
                width: 42%;
                left: 7%;
                top: 14%;
            }
            &.obectItem-3 {      
                left: 19%;
                bottom: 10%;
                width: 34%;
            }
        }

        .project-3 & {
            &.obectItem-0 {      
                width: 16%;
                left: 31%;
                bottom: 10%;
            }
            &.obectItem-1 {      
                width: 23%;
                left: 6%;
                bottom: 12%;
            }
            &.obectItem-2 {      
                width: 27%;
                right: 14%;
                bottom: 20%;
            }
        }
    }
}

.video-container {
    width: 130vh; 
    max-width: 80%;
    position: relative;
}

.videoWrapper {
    position: relative;
    padding-top: 25px;
    height: 0;
    width: 100%;
    // background: #000;
    margin: 0 auto;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

.main-text {
    border-right: 5px solid white;
    border-left: 5px solid white;
    max-width: 730px;
    a {
        color: #ffa700;;
    }
    cursor: default;

    
}
.text-wrapper {
    
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-track {
        background: #fff;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #272422; 
    }
}