$projectMenuHeight: 800px;

.menu-projects {

    .project-link {
        background: url('/static/img/objects_sprite.png');
        background-size: 200%;
        width: 15%;
        position: absolute;
        // position: relative;
        // transition: flex 0.3s;
        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        &:hover {
            background-position-x: 100%;
        }

        &.project-1 {
            background-position-y: 0;
            bottom: 12%;
            left: 78%;
        }
        &.project-2 {
            background-position-y: 33.333%;
            bottom: 21.4%;
            left: 61%;
        }
        &.project-3 {
            background-position-y: 66.666%;
            bottom: 3.4%;
            left: 49%;
        }
        &.project-4 {
            background-position-y: 100%;
            bottom: 20%;
            left: 5%;
        }
    }
  }