@mixin objectMenuLinks() {
    background: url('/static/img/objects_sprite.png');
    background-size: 200%;
}

.menu-projects {
    
    .project-link {
        width: 15%;
        position: absolute;
        @include objectMenuLinks();
        background-position-x: 0;

        // .name {
        //     opacity: 0;
        //     position: absolute;
        //     bottom: 0;
        //     text-align: center;
        //     width: 100%;
        // }

        .name {
            opacity: 0;
            position: fixed;
            z-index: 150;
            right: 0;
            top: 0;
            margin: 25px;
            cursor: pointer;
            color: #fff;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 1px;

            transition: opacity .3s;
        }

        &:hover .name {
            opacity: 1;
        }


        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
            @include objectMenuLinks();
            background-position-x: 100%;
            opacity: 0;
            transition: opacity .6s ease-out;
        }
        
        &:hover::after {
           opacity: 1;
        }


        &.project-1 {
            background-position-y:0;
            bottom: 12%;
            left: 78%;
            &::after {
                background-position-y: 0;
            }
        }
        &.project-2 {
            background-position-y: 33.333%;
            bottom: 21.4%;
            left: 61%;
            &::after {
                background-position-y: 33.333%;
            }
        }
        &.project-3 {
            background-position-y: 66.666%;
            bottom: 3.4%;
            left: 49%;
            &::after {
                background-position-y: 66.666%;
            }
        }
        &.project-4 {
            background-position-y: 100%;
            bottom: 20%;
            left: 5%;
            &::after {
                background-position-y: 100%;
            }
        }
    }
  }

.object-info {
    position: fixed;
    z-index: 150;
    right: 0;
    top: 0;
    margin: 25px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}