
// Fade
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    opacity: 1;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

// Fast Fade
.fast-fade-enter-active, .fast-fade-leave-active {
    transition: opacity .3s;
    opacity: 1;
}
.fast-fade-enter, .fast-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

// SlideUp
.slideUp-enter-active, .slideUp-leave-active {
    transition: all .4s;
    // transform: translate(0, 0);
    opacity: 1;
}
.slideUp-enter, .slideUp-leave-to /* .fade-leave-active below version 2.1.8 */ {
    // transform: translate(0, 40px);
    opacity: 0;
}

// objectApear
.objectApear-enter-active, .objectApear-leave-active {
    transition: all .5s;
    transform: scale(1, 1);
    opacity: 1;
}
.objectApear-enter, .objectApear-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform: scale(0, 0);
    opacity: 0;
}

// Endless Rotation

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 22s linear infinite;
  -moz-animation: rotating 22s linear infinite;
  -ms-animation: rotating 22s linear infinite;
  -o-animation: rotating 22s linear infinite;
  animation: rotating 22s linear infinite;
}